{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    {% block head_styles %} 
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <link rel="stylesheet" href="{% static "mediaqueries.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"
      rel="stylesheet"
      />
      {% endblock head_styles %}

      {% block head_scripts %}
      
      {% endblock head_scripts %}
  </head>
  <body>
    {% block navigation %}
    {% include "fragments/navigation.html" %}
{% endblock navigation %}

{% block header %}

{% endblock header %}



{% block content %}

{% endblock content %}
    
{% block footer %}{% include "fragments/footer.html" %}{% endblock footer %}

{% block bottom_scripts %}
<script src="{% static "script.js" %}"></script>
{% endblock bottom_scripts %}
   

  </body>
</html>
